node_modules/
www/
android/.gradle/
android/local.properties
android/app/build/
android/build/
android/captures/
android/.idea/
android/app/release/
*.keystore
*.jks
.DS_Store
*.log
banzhuanji-apk/
待上传-GitHub/
icon-preview.html
icon-bricknote.svg
icon-bricks.svg
icon-worker.svg
gen-png.js
gen-android-icons.js
gen-splash.js
package-lock.json
